@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.Businesses.Any())
{
    <div>
        @foreach (var business in Model.Businesses)
        {
            <partial name="_BusinessListView" model="@business" />
        }
    </div>
}