@page "{id}"
@model BusinessIndexPageModel

@{
    ViewData["Title"] = Model.Business.name;
}

<div>
    <h1>@Model.Business.name</h1>
    <p>@Model.Business.description</p>
    @if (Model.Business.Pictures.Any())
    {
        foreach(var pic in Model.Business.Pictures)
        {
            <img width="500px" src="/@pic.url" />
        }
    }
</div>